body{
    background:url("/img/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:whitesmoke;
}

.Log_in
{
   
   color:#3508fc !important;
   background:  rgb(65, 255, 255);
   border:2px solid rgb(6, 190, 214);
   
   transition: all 0.4s ease;
   position: relative;
}

.Log_in:hover
{
    box-shadow: inset 0 0 20px rgb(122, 216, 253), 20px rgb(186, 143, 255);
    outline-color: rgba rgb(65, 255, 255);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
    border:2px solid rgb(247, 19, 255);
    background: rgb(176, 26, 245);
    color:#fff !important;
}

.create_b
{
    color:#3508fc !important;
    background:  rgb(65, 255, 255);
    border:2px solid rgb(6, 190, 214);
    
    transition: all 0.4s ease;
    position: relative;
}

.create_b:hover
{
    box-shadow: inset 0 0 20px rgb(122, 216, 253), 20px rgb(186, 143, 255);
    outline-color: rgba rgb(65, 255, 255);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
    border:2px solid rgb(247, 19, 255);
    background: rgb(176, 26, 245);
    color:#fff !important;
}